COMPOSE_PROJECT_NAME=keycloak

KEYCLOAK_VERSION=26.0
KEYCLOAK_HTTP_PORT=8080
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin

POSTGRES_VERSION=16
POSTGRES_DB=keycloak
POSTGRES_USER=keycloak
POSTGRES_PASSWORD=keycloak
